test/corinna/test/test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ServiceName" targetNamespace="http://localhost:8080/?wsdl"
	xmlns:tns="http://localhost:8080/?wsdl" xmlns:types="http://localhost:8080/service.xsd"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<schema elementFormDefault="qualified" targetNamespace="http://localhost:8080/service.xsd"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="getCount">
				<complexType>
					<sequence>
						<element name="id" type="float" />
						<element name="sector" type="boolean" />
					</sequence>
				</complexType>
			</element>
			<element name="getCountResponse">
				<complexType>
					<sequence>
						<element name="result" type="int" />
					</sequence>
				</complexType>
			</element>
			<element name="setAttributes">
				<complexType>
					<sequence>
						<element name="attributes" type="string" />
					</sequence>
				</complexType>
			</element>
			<element name="setAttributesResponse">
				<complexType>
					<sequence>
						<element name="result" type="int" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>
	<wsdl:message name="getCountInput">
		<wsdl:part name="body" element="types:getCount" />
	</wsdl:message>
	<wsdl:message name="getCountOutput">
		<wsdl:part name="body" element="types:getCountResponse" />
	</wsdl:message>
	<wsdl:message name="setAttributesInput">
		<wsdl:part name="body" element="types:setAttributes" />
	</wsdl:message>
	<wsdl:message name="setAttributesOutput">
		<wsdl:part name="body" element="types:setAttributesResponse" />
	</wsdl:message>
	<wsdl:portType name="ServicePortType">
		<wsdl:operation name="getCount">
			<wsdl:input message="tns:getCountInput" />
			<wsdl:output message="tns:getCountOutput" />
		</wsdl:operation>
		<wsdl:operation name="setAttributes">
			<wsdl:input message="tns:setAttributesInput" />
			<wsdl:output message="tns:setAttributesOutput" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ServiceBinding" type="tns:ServicePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getCount">
			<soap:operation soapAction="http://localhost:8080/getCount" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setAttributes">
			<soap:operation soapAction="http://localhost:8080/setAttributes" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="null">
		<wsdl:documentation>null</wsdl:documentation>
		<wsdl:port name="ServicePort" binding="tns:ServiceBinding">
			<soap:address location="http://localhost:8080" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>